body {
    margin-top: 0;
    margin-left: 0;
}

nav {
    width: 80%;
    height: 50px;
    background-color: lightcoral;
    margin: 100px auto;
    position: absolute;
    left: 100px;
}

.top {
    width: 100%;
    height: 600px;
    background-color: aqua;
}

.bottom {
    width: 100%;
    height: 300px;
    background-color: blue;
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}