body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h5 {
    display: none;
}

nav {
  width: 80%;
  height: 38px;
  background-image: linear-gradient(rgb(140, 140, 140), rgb(110, 110, 110) 50%, rgb(90, 90, 90) 50%, rgb(30, 30, 30) 100%);
  margin: 100px auto 50px auto;
  left: 100px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid gray;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-right: 1px solid #333;
  color: #dcdcdd;
}

button:hover {
  background-image: linear-gradient(gray, #111 50%);
}

.promo-image {
  padding-right: 1px;
  width: 25%;
  box-sizing: border-box;
}

.nav-item {
  width: 11%;
}

.nav-search {
  display: flex;
  margin-left: 1px;
  align-items: center;
  width: 13%;
}

.search-input {
  padding-left: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  width: 100%;
  background-image: linear-gradient(rgb(140, 140, 140), rgb(110, 110, 110) 50%, rgb(90, 90, 90) 50%, rgb(30, 30, 30) 100%);
  border: none;
  height: 20px;
  border-top: 1px solid #222;
  border-bottom: 0.5px solid rgb(219, 214, 204);
  box-shadow: 5px #111;
}

.top {
  width: 100%;
  min-height: 540px;
}

.background {
  width: 100%;
  height: 540px;
  background-image: url("../images/your_versehero.jpg");
  background-repeat: no-repeat;
  background-position: -50px -340px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.top-heading {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

.heading-one {
  margin: 0;
  font-size: 60px;
  font-weight: 100;
}

.heading-two {
  margin: 0;
  line-height: 1em;
  font-size: 40px;
  font-weight: 100;
}

.heading-three {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 30%;
  font-size: 30px;
  box-sizing: border-box;
}

.heading-three:hover {
  text-decoration: underline;
}

.header-title {
  width: 50%;
}

.bottom {
  padding-top: 2px;
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.bottom-images {
  display: flex;
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  font-size: 10px;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gray;
}

.footer-one {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  line-height: 2em;
  margin: 0 auto;
}

.right-footer {
  display: flex;
}

.footer-logo {
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-left: 5px;
}

.footer-link {
  color: #4390ef;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.fa-apple .fab {
  font-size: 22px;
}

.fa-search {
  color: black;
  color: #dcdcdd;
  margin-left: 15px;
  font-size: 12px;
  padding: 3px;
  position: absolute;
}

.button-apple {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
